#game-board {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
}