div {
  text-align: center;
}

.homePage {
  position: relative;
  margin: auto;
  right: 1.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 400px;
}

.btnCheckout {
  position: absolute;
  top: 38%;
  left: 45%;
  border-radius: 6px;
  font-size: 18px;
}